@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;500&display=swap');

$sideBarActiveWidth: 170px;
$mainColor: #e74c3c;
$history_pages_height: 360px;

*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans TC', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}
html, body{
    overflow-y: hidden;
}
h1{
    font-weight: 500;
    font-size: 36px;
}
h3{
    font-weight: 300;
    font-size: 18px;
}
p{
    font-weight: 300;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 2px;
}
.main{
    height: 100vh;
    width: 100%;
    background-color: white;
    position: relative;
}
.sideBar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 78px;
    background-color: $mainColor;
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.3s ease;
}
.sideBar.active{
    width: $sideBarActiveWidth;
}
.sideBar .sideBarBtn{
    display: flex;
    height: 50px;
}
.sideBar #btn{
    position: absolute;
    color: white;
    top: 6px;
    left: 50%;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
    font-size: 18px;
    transition: all 0.5s ease;
    cursor: pointer;
}
.sideBar.active #btn{
    left: 85%;
}
.sideBar ul{
    margin-top: 20px;
}
.sideBar ul li{
    position: relative;
    height: 50px;
    width: 100%;
    list-style: none;
    line-height: 50px;
    margin: 40px 0;
}
.sideBar ul li a{
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 12px;
    white-space: nowrap;
    transition: all 0.5s ease;
}
.sideBar ul li a:hover{
    background-color: white;
    color: $mainColor;
}
.sideBar ul li a i{
    font-size: 18px;
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}
.sideBar ul li a span{
    font-size: 16px;
    font-weight: 500;
    opacity: 0;
    pointer-events: none;
    letter-spacing: 2px;
}
.sideBar.active ul li a span{
    transition: opacity 0.5s ease;
    opacity: 1;
    pointer-events: auto;
}
.sideBar.active ul li a i{
    font-size: 18px;
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
}
.content{
    position: absolute;
    height: 100%;
    width: calc(100% - 78px);
    left: 78px;
    transition: all 0.3s ease;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.content section{
    position: relative;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
    padding: 0px 20px;
}
#page1{
    background-image: linear-gradient(rgba(4,9,30,0.5),rgba(4,9,30,0.5)),url("images\\image0.jpg");
    background-position: center;
    background-size: cover;
}
#page1 svg{
    max-width: 800px;
}
#page1 .cls-1{
    fill: white;
}
#page3{
    background-color: #95a5a6;
}
#page3 div{
    text-align: center;
    max-width: 800px;
}
#page3 div h3::after{
    content: " ";
    max-width: 200px;
    height: 1px;
    background: black;
    display: block;
    margin: 10px auto 15px auto;
}
#page3 div .history_pages{
    background-color: white;
    width: 800px;
    height: $history_pages_height;
    overflow: hidden;
    display: inline-flex;
    box-shadow: 5px 5px 10px 1px #777;
}
#page3 div .history_pages div{
    text-align: left;
    background-color: white;
    height: $history_pages_height;
    display: inline-flex;
    align-items: center;
    transition: 1s;
}
#page3 div .history_pages p{
    margin: 0px 84px;
}
#page3 div .history_pages .images{
    height: $history_pages_height;
    overflow: hidden;
}
#page3 div .history_pages .images img{
    height: $history_pages_height;
}
input[name="r1"]{
    position: absolute;
    visibility: hidden;
}
.change_page{
    position: absolute;
    display: flex;
    left: 50%;
    bottom: 100px;
    transform: translateX(-50%);
}
.change_page .r1_btn{
    width: 56px;
    height: 16px;
    border: 3px solid white;
    margin: 10px;
    cursor: pointer;
    transition: 0.2s;
}
#r1-1:checked ~ #history_pages_1{
    margin-left: 0px;
}
#r1-2:checked ~ #history_pages_1{
    margin-left: -800px;
}
#r1-3:checked ~ #history_pages_1{
    margin-left: -1600px;
}
#r1-4:checked ~ #history_pages_1{
    margin-left: -2400px;
}
.r1_btn:hover{
    background-color: white;
}
.selected{
    background-color: white;
}




@media (max-height: 720px) {
    .main{
        height: 720px;
        width: 100%;
        background-color: white;
        position: absolute;
        overflow: hidden;
    }
}
@media (max-width: 960px){
    .sideBar{
        height: 50px;
        width: 50px;
        padding: 0px;
        top: 5px;
        left: 5px;
        border-radius: 25px;
    }
    .sideBar #btn{
        top: 0px;
    }
    .sideBar.active{
        width: 100%;
        height: 100%;
        border-radius: 0px;
        padding: 0px 28px;
        top: 0px;
        left: 0px;
    }
    .sideBar ul{
        display: none;
    }
    .sideBar.active #btn{
        top:6px
    }
    .sideBar.active ul{
        display: block;
    }
    .sideBar.active ul li a{
        justify-content: center;
    }
    .content{
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0px;
        transition: all 0.3s ease;
        overflow-y: scroll;
        scroll-behavior: smooth;
    }
    #page3 div .history_pages{
        height: auto;
    }
    #page3 div .history_pages p{
        margin: 20px 30px;
    }
    #page3 div .history_pages .images{
        display: none;
    }
}