@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;500&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans TC', sans-serif;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  font-weight: 500;
  font-size: 36px;
}

h2 {
  font-weight: 500;
  font-size: 20px;
}

h3 {
  font-weight: 300;
  font-size: 18px;
}

p {
  font-weight: 300;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 2px;
}

.main {
  height: 100vh;
  width: 100%;
  background-color: white;
  position: relative;
}

.sideBar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 78px;
  background-color: #e74c3c;
  padding: 6px 14px;
  z-index: 99;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.sideBar.active {
  width: 170px;
}

.sideBar .sideBarBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
}

.sideBar #btn {
  position: absolute;
  color: white;
  top: 6px;
  left: 50%;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 18px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}

.sideBar.active #btn {
  left: 85%;
}

.sideBar ul {
  margin-top: 20px;
}

.sideBar ul li {
  position: relative;
  height: 50px;
  width: 100%;
  list-style: none;
  line-height: 50px;
  margin: 40px 0;
}

.sideBar ul li a {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  border-radius: 12px;
  white-space: nowrap;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sideBar ul li a:hover {
  background-color: white;
  color: #e74c3c;
}

.sideBar ul li a i {
  font-size: 18px;
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
}

.sideBar ul li a span {
  font-size: 16px;
  font-weight: 500;
  opacity: 0;
  pointer-events: none;
  letter-spacing: 2px;
}

.sideBar.active ul li a span {
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  opacity: 1;
  pointer-events: auto;
}

.sideBar.active ul li a i {
  font-size: 18px;
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
}

.content {
  position: absolute;
  height: 100%;
  width: calc(100% - 78px);
  left: 78px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  scroll-behavior: smooth;
}

.content section {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 20px;
}

#page1 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(4, 9, 30, 0.5)), to(rgba(4, 9, 30, 0.5))), url("images\\image0.jpg");
  background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)), url("images\\image0.jpg");
  background-position: center;
  background-size: cover;
}

#page1 svg, object {
  width: 800px;
}

#page1 .cls-1 {
  fill: white;
}

#page2 {
  background-color: #2c3e50;
}

#page2 svg {
  border: 1px solid black;
  width: 500px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#page2 div {
  border: 1px solid black;
  width: 480px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: white;
}

#page2 .cls-1 {
  fill: white;
  stroke: black;
  stroke-width: 2px;
}

section div {
  text-align: center;
}

section div h3::after {
  content: " ";
  max-width: 200px;
  height: 1px;
  background: black;
  display: block;
  margin: 10px auto 15px auto;
}

/*----------歷史故事----------*/
#page3 {
  background-color: #95a5a6;
}

#page3 div {
  max-width: 800px;
}

.history_pages {
  background-color: white;
  width: 800px;
  height: 360px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 5px 5px 10px 1px #777;
          box-shadow: 5px 5px 10px 1px #777;
}

.history_pages div {
  width: 800px;
  background-color: white;
  height: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1s;
  transition: 1s;
}

.history_pages p {
  text-align: left;
  margin: 0px 64px;
  text-indent: 2em;
}

.history_pages .images {
  height: 360px;
  overflow: hidden;
}

.history_pages .images img {
  height: 360px;
}

input[name="r1"] {
  position: absolute;
  visibility: hidden;
}

.change_page {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 50%;
  bottom: 100px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.change_page .r1_btn {
  width: 56px;
  height: 16px;
  border: 3px solid white;
  margin: 10px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-shadow: 3px 3px 8px 1px #777;
          box-shadow: 3px 3px 8px 1px #777;
}

#r1-1:checked ~ #history_pages_1 {
  margin-left: 0px;
}

#r1-2:checked ~ #history_pages_1 {
  margin-left: -800px;
}

#r1-3:checked ~ #history_pages_1 {
  margin-left: -1600px;
}

#r1-4:checked ~ #history_pages_1 {
  margin-left: -2400px;
}

.r1_btn:hover {
  background-color: white;
}

.selected {
  background-color: white;
}

/*----------歷史故事----------*/
/*----------建築特色----------*/
#page4 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(4, 9, 30, 0.5)), to(rgba(4, 9, 30, 0.5))), url("images\\image3.png");
  background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)), url("images\\image3.png");
  background-position: center;
  background-size: cover;
}

#page4 div {
  max-width: 1200px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#page4 div h1, #page4 div h3 {
  color: white;
}

#page4 div h3::after {
  background: white;
}

.structure_pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.structure_pages div {
  background-color: white;
  padding: 20px 20px;
  margin: 10px;
  color: black;
  -webkit-transition: -webkit-transform .2s ease;
  transition: -webkit-transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease, -webkit-transform .2s ease;
  cursor: pointer;
}

.structure_pages div:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.structure_pages_1 {
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
}

.structure_pages_2 {
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
}

.structure_pages_3 {
  -ms-flex-preferred-size: 520px;
      flex-basis: 520px;
}

/*----------建築特色----------*/
/*----------紅樓生態----------*/
#page5 {
  background-color: #95a5a6;
}

#page5 div {
  max-width: 1000px;
}

.nature_pages div img {
  width: 180px;
  height: 180px;
  border-radius: 90px;
}

.nature_pages_1 {
  position: relative;
  width: 180px;
  height: 180px;
  border-radius: 90px;
}

.layer {
  position: absolute;
  width: 180px;
  height: 180px;
  border-radius: 90px;
  top: 0;
  left: 0;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.layer:hover {
  background: rgba(231, 76, 60, 0.6);
}

.layer h2 {
  position: absolute;
  color: white;
  font-size: 28px;
  opacity: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.layer:hover h2 {
  left: 50%;
  opacity: 1;
}

/*----------紅樓生態----------*/
@media (max-height: 720px) {
  .main {
    height: 720px;
    width: 100%;
    background-color: white;
    position: absolute;
  }
}

@media (max-width: 960px) {
  .sideBar {
    height: 50px;
    width: 50px;
    padding: 0px;
    top: 5px;
    left: 5px;
    border-radius: 25px;
  }
  .sideBar #btn {
    top: 0px;
  }
  .sideBar.active {
    height: 100%;
    border-radius: 0px;
    padding: 6px 14px;
    top: 0px;
    left: 0px;
  }
  .sideBar ul {
    display: none;
  }
  .sideBar.active #btn {
    top: 6px;
  }
  .sideBar.active ul {
    display: block;
  }
  .sideBar.active ul li a {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .content {
    width: 100%;
    left: 0px;
  }
  /*----------頁長度----------*/
  #page1 {
    height: 100%;
  }
  #page3 {
    height: 800px;
  }
  #page4 {
    height: 1500px;
  }
  /*----------頁長度----------*/
  /*----------歷史故事----------*/
  #page3 {
    padding: 0px 40px;
  }
  #page3 div {
    width: 100%;
  }
  #page3 div .change_page {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    bottom: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .history_pages {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 500px;
  }
  .history_pages div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 500px;
  }
  .history_pages div p {
    margin: 20px;
  }
  .history_pages div .images {
    max-width: 100%;
    overflow: hidden;
  }
  .history_pages div .images img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #r1-1:checked ~ #history_pages_1 {
    margin-left: 0px;
    margin-top: 0px;
  }
  #r1-2:checked ~ #history_pages_1 {
    margin-left: 0px;
    margin-top: -500px;
  }
  #r1-3:checked ~ #history_pages_1 {
    margin-left: 0px;
    margin-top: -1000px;
  }
  #r1-4:checked ~ #history_pages_1 {
    margin-left: 0px;
    margin-top: -1500px;
  }
  /*----------歷史故事----------*/
  /*----------建築特色----------*/
  #page4 div {
    max-width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .structure_pages_1 {
    -ms-flex-preferred-size: 400px;
        flex-basis: 400px;
  }
  /*----------建築特色----------*/
}
/*# sourceMappingURL=style.css.map */