@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;500&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans TC', sans-serif;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-weight: 500;
  font-size: 36px;
}

h2 {
  font-weight: 500;
  font-size: 20px;
}

h3 {
  font-weight: 300;
  font-size: 18px;
}

p {
  font-weight: 300;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 2px;
}

.main {
  height: 100vh;
  width: 100%;
  background-color: #ffffff;
  position: relative;
}

.side {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 78px;
  background-color: #9e2a2b;
  padding: 6px 14px;
  z-index: 99;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.side.active {
  width: 170px;
}

.side .side-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
}

.side #btn {
  position: absolute;
  color: #ffffff;
  top: 6px;
  left: 50%;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 18px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}

.side.active #btn {
  left: 85%;
}

.side ul {
  margin-top: 20px;
}

.side ul li {
  position: relative;
  height: 50px;
  width: 100%;
  list-style: none;
  line-height: 50px;
  margin: 40px 0;
}

.side ul li a {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  border-radius: 12px;
  white-space: nowrap;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.side ul li a:hover {
  background-color: #ffffff;
  color: #9e2a2b;
}

.side ul li a i {
  font-size: 18px;
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
}

.side ul li a span {
  font-size: 16px;
  font-weight: 500;
  opacity: 0;
  pointer-events: none;
  letter-spacing: 2px;
}

.side.active ul li a span {
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  opacity: 1;
  pointer-events: auto;
}

.side.active ul li a i {
  font-size: 18px;
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
}

.side ul li .current {
  background-color: #ffffff;
  color: #9e2a2b;
}

.content {
  position: absolute;
  height: 100%;
  width: calc(100% - 78px);
  left: 78px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  scroll-behavior: smooth;
}

.content section {
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 80px 20px;
}

section div {
  text-align: center;
}

section div h1 {
  margin-bottom: 5px;
  z-index: 10;
}

section div h3::after {
  content: " ";
  max-width: 200px;
  height: 1px;
  background: black;
  display: block;
  margin: 10px auto 15px auto;
}

/*----------首頁----------*/
#home {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(4, 9, 30, 0.5)), to(rgba(0, 0, 0, 0.7))), url("images//home_page_pic.jpg");
  background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(0, 0, 0, 0.7)), url("images//home_page_pic.jpg");
  background-position: center;
  background-size: cover;
  height: 100%;
}

#home svg {
  width: 800px;
  fill: #ffffff;
}

#home div {
  position: absolute;
  width: 100%;
  bottom: 20px;
  left: 50%;
  padding: 10px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #ffffff;
}

#home div p {
  font-size: 10px;
  line-height: 24px;
}

/*----------首頁----------*/
/*----------地理位置----------*/
#location {
  background-color: #ffffff;
  overflow: hidden;
}

.location-content {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(4, 9, 30, 0.6)), to(rgba(0, 0, 0, 0.6))), url("images//location_page_pic.jpg");
  background-image: linear-gradient(rgba(4, 9, 30, 0.6), rgba(0, 0, 0, 0.6)), url("images//location_page_pic.jpg");
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-shadow: 5px 5px 10px 1px #777;
          box-shadow: 5px 5px 10px 1px #777;
  z-index: 10;
}

.location-content div {
  width: 250px;
  padding: 20px;
  margin: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  color: #ffffff;
}

.location-content div h2, .location-content div p {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 5px;
  z-index: 10;
}

.location-content div a {
  padding: 0px 10px;
  color: #ffffff;
  border: 1px solid #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  z-index: 10;
}

.location-content div a:hover {
  background-color: #9e2a2b;
  border: 1px solid #9e2a2b;
  color: #ffffff;
}

#location .color-bar {
  position: absolute;
}

#location .color-bar-left {
  left: 20%;
}

#location .color-bar-right {
  left: 60%;
}

#location .color-bar div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#location .color-bar div span {
  position: absolute;
  top: 0px;
  width: 120px;
  height: 120px;
  display: block;
  border-radius: 50%;
  -webkit-transform-origin: 60px 0;
          transform-origin: 60px 0;
  -webkit-transform: rotate(calc(90deg * var(--i)));
          transform: rotate(calc(90deg * var(--i)));
  -webkit-filter: blur(80px);
          filter: blur(80px);
  opacity: 0.75;
}

#location .color-bar div span:nth-child(1) {
  background-color: #01b2fe;
}

#location .color-bar div span:nth-child(2) {
  background-color: #ff008c;
}

#location .color-bar div span:nth-child(3) {
  background-color: #ffcd00;
}

#location .color-bar div span:nth-child(4) {
  background-color: #00c456;
}

/*----------地理位置----------*/
/*----------歷史故事----------*/
#history {
  background-color: #ffffff;
}

.history-content {
  background-color: #ffffff;
  width: 800px;
  height: 360px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 5px 5px 10px 1px #7e6112;
          box-shadow: 5px 5px 10px 1px #7e6112;
}

.history-content div {
  width: 800px;
  height: 360px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1s;
  transition: 1s;
}

#history-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.history-content h2 {
  margin: 10px 64px;
}

.history-content p {
  text-align: left;
  margin: 0px 64px;
}

.history-image {
  height: 360px;
  overflow: hidden;
}

.history-image img {
  height: 360px;
}

input[name="r1"] {
  position: absolute;
  visibility: hidden;
}

.btn-space {
  height: 105px;
}

.history-content-btn {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 50%;
  bottom: 100px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.history-content-btn .r1-btn {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 10px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #e09f3e;
  padding: 5px;
  border: 2px solid transparent;
}

#r1-1:checked ~ #history-page-anchor {
  margin-left: 0px;
}

#r1-2:checked ~ #history-page-anchor {
  margin-left: -800px;
}

#r1-3:checked ~ #history-page-anchor {
  margin-left: -1600px;
}

#r1-4:checked ~ #history-page-anchor {
  margin-left: -2400px;
}

#r1-5:checked ~ #history-page-anchor {
  margin-left: -3200px;
}

.r1-btn:hover {
  color: rgba(224, 159, 62, 0.7);
}

.history-content-btn .selected {
  border-bottom: 2px solid #e09f3e;
}

.selected:hover {
  border-bottom: 2px solid rgba(224, 159, 62, 0.7);
}

#history .color-bar {
  position: absolute;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  width: 100%;
  height: 375px;
  background-color: #e09f3e;
}

/*----------歷史故事----------*/
/*----------建築特色----------*/
#structure {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(4, 9, 30, 0.5)), to(rgba(4, 9, 30, 0.5))), url("images//structure_page_pic.png");
  background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)), url("images//structure_page_pic.png");
  background-position: center;
  background-size: cover;
}

#structure div {
  max-width: 1200px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#structure h1, #structure h3 {
  color: #ffffff;
}

#structure h3::after {
  background: #ffffff;
}

.structure-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.structure-content div {
  background-color: #ffffff;
  padding: 20px 20px;
  margin: 10px;
  color: black;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  cursor: pointer;
}

.structure-content div:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.structure-content-top {
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
}

.structure-content-middle {
  -ms-flex-preferred-size: 520px;
      flex-basis: 520px;
}

.structure-content-bottom {
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
}

/*----------建築特色----------*/
/*----------紅樓生態----------*/
#nature {
  background-color: rgba(51, 92, 103, 0.3);
  background-image: url("images//nature_page_pic_00.png");
  background-position: right;
  background-size: cover;
}

#nature div {
  max-width: 100%;
  z-index: 10;
}

.nature-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nature-content-pic {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nature-image {
  position: relative;
  width: 360px;
  height: 300px;
  margin: 10px;
}

.nature-image img {
  width: 360px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  padding: 5px;
  background-color: #ffffff;
  -webkit-box-shadow: 5px 5px 10px 1px #777;
          box-shadow: 5px 5px 10px 1px #777;
}

.nature-image div {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 360px;
  height: 300px;
  top: 0px;
  left: 0px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
}

.nature-image div * {
  position: relative;
  color: #335c67;
  left: 50%;
  padding: 10px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nature-image div h2 {
  font-size: 28px;
  white-space: nowrap;
}

.nature-image div p {
  padding: 0px 40px;
}

.nature-image div p:nth-child(3) {
  color: #9e2a2b;
}

.nature-image .nature-active {
  opacity: 1;
  background-color: #ffffff;
}

/*----------紅樓生態----------*/
/*----------團隊介紹----------*/
#team div:nth-child(2) {
  position: relative;
}

.team-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team-content-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  margin: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
  color: #540b0e;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-shadow: 5px 5px 10px 1px #777;
          box-shadow: 5px 5px 10px 1px #777;
  background-color: #ffffff;
  z-index: 10;
}

.team-content-card * {
  margin: 5px;
}

.team-content-card p {
  color: black;
  text-align: center;
}

.team-content-card div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.try {
  position: absolute;
  width: 100%;
  min-height: 750px;
  top: 0px;
  background: url("images//red_building.jpg");
  background-size: cover;
  z-index: 0;
}

.try:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("images//splash.jpg");
  background-size: 1200px;
  background-position: center;
  mix-blend-mode: screen;
  z-index: 0;
}

/*----------團隊介紹----------*/
@media (max-height: 792px) {
  .main {
    height: 792px;
    width: 100%;
    background-color: #ffffff;
    position: absolute;
  }
  .history-content-btn {
    bottom: 70px;
  }
}

/*----------ipad橫版寬度----------*/
@media (max-width: 1024px) {
  /*----------建築特色----------*/
  .structure-content-top {
    -ms-flex-preferred-size: 250px;
        flex-basis: 250px;
  }
  .structure-content-middle {
    -ms-flex-preferred-size: 790px;
        flex-basis: 790px;
  }
  .structure-content-bottom {
    -ms-flex-preferred-size: 385px;
        flex-basis: 385px;
  }
  /*----------建築特色----------*/
  /*----------歷史故事----------*/
  #history div {
    width: 100%;
  }
  .history-content-btn {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    bottom: 80px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .history-content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 500px;
    -webkit-box-shadow: 2px 2px 10px 1px #777;
            box-shadow: 2px 2px 10px 1px #777;
  }
  .history-content div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 500px;
  }
  .history-content p {
    margin: 0px 80px;
  }
  .history-image {
    max-width: 100%;
    overflow: hidden;
  }
  .history-image img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #r1-1:checked ~ #history-page-anchor {
    margin-left: 0px;
    margin-top: 0px;
  }
  #r1-2:checked ~ #history-page-anchor {
    margin-left: 0px;
    margin-top: -500px;
  }
  #r1-3:checked ~ #history-page-anchor {
    margin-left: 0px;
    margin-top: -1000px;
  }
  #r1-4:checked ~ #history-page-anchor {
    margin-left: 0px;
    margin-top: -1500px;
  }
  #r1-5:checked ~ #history-page-anchor {
    margin-left: 0px;
    margin-top: -2000px;
  }
  /*----------歷史故事----------*/
  /*----------紅樓生態----------*/
  .nature-content-pic {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .nature-image {
    width: 320px;
    height: 300px;
  }
  .nature-image img {
    width: 100%;
    height: 100%;
  }
  .nature-image div {
    width: 100%;
    height: 100%;
  }
  .nature-image div p {
    padding: 0px 20px;
  }
  /*----------紅樓生態----------*/
}

/*----------ipad寬度----------*/
@media (max-width: 768px) {
  .side {
    height: 50px;
    width: 50px;
    padding: 0px;
    top: 5px;
    left: 5px;
    border-radius: 25px;
  }
  .side #btn {
    top: 0px;
  }
  .side.active {
    height: 100%;
    border-radius: 0px;
    padding: 6px 14px;
    top: 0px;
    left: 0px;
  }
  .side ul {
    display: none;
  }
  .side.active #btn {
    top: 6px;
  }
  .side.active ul {
    display: block;
  }
  .content {
    width: 100%;
    left: 0px;
  }
  /*----------歷史故事----------*/
  .history-content {
    height: 500px;
  }
  .history-content div {
    height: 500px;
  }
  .history-content h2 {
    margin-top: 20px;
  }
  .history-content p {
    margin: 0px 20px 20px 20px;
  }
  /*----------歷史故事----------*/
  /*----------建築特色----------*/
  #structure div {
    max-width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .structure-content div {
    -ms-flex-preferred-size: 500px;
        flex-basis: 500px;
  }
  /*----------建築特色----------*/
  .team-content-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/*----------mobile寬度----------*/
@media (max-width: 576px) {
  /*----------歷史故事----------*/
  .history-content {
    height: 500px;
  }
  .history-content div {
    height: 500px;
  }
  .history-content h2 {
    margin-top: 20px;
  }
  .history-content p {
    margin: 0px 20px 20px 20px;
  }
  /*----------歷史故事----------*/
}
/*# sourceMappingURL=style.css.map */