*{
    margin: 0px;
    padding: 0px;
}
html{
    min-height: 100%;/*使body的background屬性適用於全版面*/
}
body{
    /*background: linear-gradient(90deg, #56d8e4, #9f01ea);*/
    font-family: 'Courier New', Courier, monospace;
    background-color: #4E4E4E;
}

/*header*/

.header{
    height: 65px;
    position: sticky;
    background-color: #4E4E4E;
    top: 0;/*配合sticky*/
    z-index: 10;
}
.menu{
    padding: 20px 0;
    float: right;
    font-size: 0px;/*去掉inline造成的空白*/
}
.menu .stuff{
    font-size: 20px;
    display: inline-block;
    padding: 0 20px;
}
.menu .stuff a{
    text-decoration: none;
    color: white;
}

/*banner*/

.banner{
    height: 500px;
    text-align: center;
}
.banner .logo{
    transform: translateY(80px);
}
.banner img{
    height: 200px;
    width: 200px;
}
.banner .title{
    font-size: 36px;
    color: white;
    transform: translateY(120px);
}
.banner button{
    transform: translateY(150px);
    border: none;
    background-color: transparent;
}
.banner button a{
    width: 150px;
    background-color: white;
    color: #4E4E4E;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
    border: 3px white solid;
    border-radius: 20px;
}

.banner button a:hover{
    background-color: #4E4E4E;
    color: white;
    transition: .2s linear;
}

/*choosen*/

.choosen{
    width: 540px;
    font-size: 0px;
    text-align: center;
    overflow: hidden;
    margin: auto;
}

.choosen .choose{
    width: 80px;
    font-size: 20px;
    display: inline-block;
    position: flex;
    margin: 0 50px 10px 50px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.choosen .active{
    color: #f1c40f;
    transition: .4s linear;
}
.choosen .bar{
    width: 130px;
    height: 4px;
    margin-left: 25px;
    background-color: #f1c40f;
    transition: .4s linear;
}
.choosen div:nth-child(1):hover ~ .bar{
    margin-left: 25px;
}
.choosen div:nth-child(2):hover ~ .bar{
    margin-left: 205px;
}
.choosen div:nth-child(3):hover ~ .bar{
    margin-left: 385px;
}

/*content*/

.content{
    height: 500px;
    background-color: white;
}